header {
  .heading {
    height: 5.51vw;
    margin-top: 5.21vw;
    h2 {
      width: 61.04vw;
      height: 6.21vw;
      font-size: var(--fonth1);
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  .information {
    .title {
      p {
        width: 57.94vw;
        height: 2.21vw;
        font-size: var(--fonth2);
        border-bottom: 1px solid white;
      }
    }
  }
  .label {
    margin-top: 2.08vw;
    width: 58.02vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .form-group {
      width: 32.86vw;
      display: flex;
      flex-direction: column;
      margin-bottom: 1.56vw;
      input[type="file"]::file-selector-button {
        height: 2.28vw;
        margin-right: 1.04vw;
        border: none;
        background: var(--primary-color);
        padding: 0.52vw 1.04vw;
        border-radius: 0.52vw;
        color: #fff;
        cursor: pointer;
        transition: background 0.2s ease-in-out;
      }
      input[type="file"]::file-selector-button:hover {
        background: darken(#ea531d, 15%);
      }
      label {
        margin-bottom: 0.52vw;
      }
      input {
        height: 2.28vw;
      }
      select {
        height: 2.28vw;
        border: none;
        outline: none;
      }

      textarea {
        resize: none;
        height: 10.81vw;
        border: 0px;
      }
    }
  }

  .clarifications {
    .title {
      p {
        width: 57.94vw;
        height: 2.21vw;
        font-size: var(--fonth2);
        border-bottom: 1px solid white;
      }
    }
    .label {
      .btn-modal {
        display: flex;
        width: 32.86vw;
        justify-content: flex-end;
        .btn-complaint {
          color: var(--text-color);
          font-size: var(--main-text);
          border: 0.11vw white solid;
          cursor: pointer;
          width: 18.14vw;
          height: 3.65vw;
          background: none;
          transition: 0.2s ease;

          &:hover {
            color: var(--background-color);
            background-color: antiquewhite;
          }
        }
      }
      margin-top: 2.08vw;
    }
  }
}

.images {
  img {
    z-index: -3;
    position: absolute;
    top: -5.42vw !important;
    left: 90vw !important;
    width: 10vw !important;
    height: 100vw !important;
    filter: blur(60px) !important;
    animation: none !important;
  }
}

@media screen and (max-width: 500px) {
  body main .main-content .doc-1-area .main-text {
    width: 100%;
  }

  body header .heading h2 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 16.21vw;
    font-size: var(--fonth1);
    border-bottom: 1px solid white;
  }

  body main .main-content {
    margin-top: 15.21vw;
  }

  form .label {
    margin-top: 2.08vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  form .label .form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.56vw;
  }

  form .label .form-group label {
    margin-bottom: 2.52vw;
  }

  form .label .form-group input {
    height: 12.28vw;
  }

  form .label .form-group select {
    height: 12.28vw;
    width: 100%;
  }

  form .information .title p {
    height: 12.21vw;
    margin-top: 7vw;
    font-size: var(--fonth1);
  }

  form .information .title p {
    width: 100%;
  }

  form .clarifications .title p {
    height: 12.21vw;
    font-size: var(--fonth1);
    margin-top: 7vw;
  }

  form .clarifications .title p {
    width: 100%;
  }

  body .label {
    .form-group {
      input[type="file"]::file-selector-button {
        height: 12.28vw;
      }
    }
  }

  form .clarifications .label .btn-modal .btn-complaint {
    width: 100%;
    height: 15.65vw;
  }
  form .clarifications .label .btn-modal {
    margin-top: 4vw;
    width: 100%;
  }
}
