@font-face {
  font-family: JejuMyeongjo;
  src: url("../../static/fonts/JejuMyeongjo-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

:root {
  --fonth1: 3.33vw;
  --fonth2: 1.67vw;
  --main-text: 1.25vw;
  --background-color: #191919;
  --text-color: white;
}

html body * {
  font-family: JejuMyeongjo, serif;
  font-weight: 400;
  font-size: var(--main-text);
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.25s ease;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  .wrapper {
    margin: 0 auto;
    max-width: 78.13vw;
  }
  // Хеадер
  header {
    background-image: url(../../static/img/home/hero-back.png);
    background-position: center -5.21vw;
    background-repeat: no-repeat;
    background-size: 150.13vw 50.46vw;
    height: 49vw;
    .big-text {
      font-size: var(--fonth2);
      display: flex;
      justify-content: center;
      text-align: center;
      padding-top: 3vw;
    }
    .intro {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      margin-top: 11.98vw;
      h1 {
        font-size: 10.42vw;
        margin: 0;
      }
      .header-logo {
        margin-left: auto;
      }
      .under-intro {
        font-size: var(--fonth1);
      }
    }
    .under-intro {
      h2 {
        font-size: var(--fonth1);
      }
    }
  }
  footer {
    margin-top: 20.83vw;
    background-image: url(../../../static/img/home/footer-back.png);
  }
  .footer {
    display: flex;
    justify-content: space-between;
    div {
      width: 23.44vw;
      span {
        display: block;
        padding-bottom: 1.56vw;
        font-size: var(--fonth2);
      }
    }
    ul {
      li {
        margin-bottom: 2.08vw;

        font-size: var(--main-text);
      }
      .btn-complaint {
        margin-top: 2.6vw;
        color: var(--text-color);
        font-size: var(--main-text);
        border: 2px white solid;
        cursor: pointer;
        width: 23.44vw;
        height: 3.65vw;
        background: none;
        transition: 0.2s ease;
        &:hover {
          color: var(--background-color);
          background-color: antiquewhite;
        }
      }
    }
  }
}
