body {
  header {
    background-position: center -5.21vw;
    background-repeat: no-repeat;
    background-size: 150.13vw 50.46vw;
    height: 21.42vw;

    .heading {
      display: flex;
      justify-content: center;
      height: 13.51vw;
      h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 39.58vw;
        background-image: url(../../../static/img/history/history-back.png);
        background-size: 39.58vw 13.81vw;
        font-size: var(--fonth1);
      }
    }
  }
  .first-p-area {
    display: flex;
    justify-content: space-between;
    .first-collage {
      img {
        width: 37.5vw;
        height: 54.69vw;
      }
    }
    .first-p {
      width: 37.76vw;
      p {
        font-size: var(--main-text);
        line-height: 1.67vw;
        margin-bottom: 2.08vw;
        text-align: justify;
      }
    }
  }
  .area-1944 {
    margin-top: -2.6vw;
    .area-1944-wrapper {
      display: flex;
      justify-content: center;
      p {
        margin-right: -5.21vw;
        width: 36.46vw;
        font-size: 31.25vw;
        background-image: url(../../../static/img/point.png);
        background-size: 27.14vw 28.44vw;
        background-repeat: no-repeat;
        background-position: 10.21vw -1.21vw;
      }
      :nth-child(2) {
        margin-top: 10.6vw;
        background-position: 11.11vw 2.11vw;
      }
    }
  }
  .second-p-area {
    display: flex;
    justify-content: space-between;
    .second-collage {
      img {
        width: 46.88vw;
        height: 75.52vw;
        margin-top: -3.8vw;
      }
    }
    .second-p {
      width: 37.76vw;
      p {
        margin-left: -6.6vw;
        font-size: var(--main-text);
        line-height: 1.67vw;
        margin-bottom: 2.08vw;
        text-align: justify;
      }
      :nth-child(5),
      :nth-child(6),
      :nth-child(7),
      :nth-child(8) {
        margin-left: 1.6vw;
      }
    }
  }
}
