body {
  header {
    background-image: url(../../../static/img/home/hero-back.png);
    background-position: center -5.21vw;
    background-repeat: no-repeat;
    background-size: 150.13vw 50.46vw;
    height: 51.42vw;
  }

  // Навигация
  nav {
    ul {
      li {
        font-size: var(--fonth2);
        margin-bottom: 0.83vw;
      }

      .row-area {
        &:hover {
          a {
            color: #ccc;

            &:hover {
              color: white;
              box-shadow: 0 2px 0 0 currentcolor;
            }
          }
        }
      }
    }

    margin-top: 5.21vw;
    margin-bottom: 13.02vw;

    &>ul {
      display: flex;
      justify-content: space-between;

      &>div {
        width: 24.48vw;

        &:last-child {
          li:first-child {
            margin-bottom: 5.21vw;
          }
        }
      }
    }

    .row {
      display: block;
      font-size: 2em;
      margin-bottom: 4.17vw;
    }
  }

  // Горячая линия
  .tel-menu-area {
    display: flex;
    position: relative;

    .tel-menu {
      width: 46.88vw;

      div {
        &>p {
          text-align: justify;
          font-size: var(--fonth2);
          margin-bottom: 3.6vw;
        }
      }
    }

    .tel-n-hotline {
      display: flex;
      justify-content: space-between;

      .tel {
        p {
          margin-bottom: 1.2vw;
        }
      }
    }

    .hotline {
      font-size: var(--fonth2);
    }
  }

  .btn-tel {
    position: absolute;
    top: -6.56vw;
    right: -5.21vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28.7vw;
    height: 27.6vw;
    background-image: url(../../../static/img/home/hotline.png);
    background-size: 28.7vw 27.6vw;

    a {
      p {
        text-align: center;
        margin-left: -3.7vw;
        display: flex;
        width: 3.65vw;
        line-height: 1.56vw;
      }
    }
  }

  // Новости
  .main-news {
    .news {
      width: 35.78vw;
      border-bottom: 1px solid #ffffff;
      padding: 1.6vw;

      .img-news {
        img {
          width: 17.71vw;
          height: 17.71vw;
        }
      }

      &:nth-child(1),
      &:nth-child(3) {
        border-right: 1px solid #ffffff;
      }
    }

    .name-news {
      padding-top: 1.04vw;
    }

    .news-list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    h2 {
      font-size: var(--fonth1);
      padding-top: 5.21vw;
    }

    p {
      font-size: var(--fonth2);
      margin-top: 0.52vw;
    }

    .text-news {
      p {
        margin: 0;
      }
    }

    .news-subtext {
      font-size: var(--main-text);
      margin-bottom: 3.21vw;
    }

    .news-wrapper {
      margin-left: auto;
      display: flex;

      .btn-news {
        margin-left: auto;
        height: 2.6vw;

        p {
          transition: color 0.2s;
          font-size: var(--main-text);
        }

        img {
          width: 4.79vw;
          height: 1.61vw;
        }

        &:hover {
          color: #ccc;
        }
      }
    }

    .all-news {
      display: flex;
      justify-content: center;
      padding: 2.08vw;
      border-bottom: 1px solid #ffffff;
      font-size: var(--fonth2);
      transition: 0.2s ease;

      &:hover {
        color: #ccc;
      }
    }
  }
}