@charset "UTF-8";
@font-face {
  font-family: JejuMyeongjo;
  src: url("../../static/fonts/JejuMyeongjo-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
:root {
  --fonth1: 3.33vw;
  --fonth2: 1.67vw;
  --main-text: 1.25vw;
  --background-color: #191919;
  --primary-color: #ea531d;
  --text-color: white;
}

::selection {
  background-color: var(--primary-color);
  color: var(--background-color);
}

::-moz-selection {
  background-color: var(--primary-color);
  color: var(--background-color);
}

body::-webkit-scrollbar {
  width: 0.42vw;
}

body::-webkit-scrollbar-track {
  background: var(--background-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 0.42vw;
}

html body * {
  font-family: JejuMyeongjo, serif;
  font-weight: 400;
  font-size: var(--main-text);
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.25s ease;
}

html body input:focus {
  outline: var(--primary-color) 0.055vw solid;
}

body {
  overflow-x: clip;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body .bvi-button {
  display: flex;
  justify-content: flex-end;
  padding-right: 4vw;
}
body .wrapper {
  margin: 0 auto;
  width: 78.13vw;
}
body header .link {
  display: flex;
  justify-content: center;
  padding-top: 1.56vw;
  transition: 0.1s ease;
  color: white;
}
body header .link:hover {
  color: rgba(250, 249, 249, 0.4509803922);
}
body header .link a {
  transition: 0.5s ease;
}
body header .link a:hover {
  box-shadow: 0 2px 0 0 currentcolor;
}
body header .big-text {
  font-size: var(--fonth2);
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 3vw;
}
body header .intro {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin-top: 11.98vw;
}
body header .intro h1 {
  font-size: 10.42vw;
  margin: 0;
}
body header .intro .header-logo {
  margin-left: auto;
}
body header .intro .under-intro {
  font-size: var(--fonth1);
}
body header .under-intro h2 {
  font-size: var(--fonth1);
}
body footer {
  margin-top: 20vw;
  background-image: url(../../../static/img/home/footer-back.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
body .footer {
  display: flex;
  justify-content: space-between;
}
body .footer div {
  width: 23.44vw;
}
body .footer div span {
  display: block;
  padding-bottom: 1.56vw;
  font-size: var(--fonth2);
}
body .footer ul li {
  margin-bottom: 2.08vw;
  font-size: var(--main-text);
}
body .footer ul .btn-complaint {
  margin-top: 2.6vw;
  color: var(--text-color);
  font-size: var(--main-text);
  border: 2px white solid;
  cursor: pointer;
  width: 23.44vw;
  height: 3.65vw;
  background: none;
  transition: 0.2s ease;
}
body .footer ul .btn-complaint:hover {
  color: var(--background-color);
  background-color: antiquewhite;
}
body .modal {
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
  position: fixed;
  top: 1vw;
  left: 29.69vw;
  background: var(--primary-color);
  width: 33.85vw;
  height: fit-content;
  padding: 3.13vw;
}
body .modal form .form-subtext {
  font-size: 16px;
}
body .modal h3 {
  font-size: var(--fonth2);
}
body .modal .form-group {
  margin-top: 1.56vw;
  display: flex;
  flex-direction: column;
}
body .modal .form-group input {
  border: 0px;
  height: 2.34vw;
}
body .modal .form-group textarea {
  resize: none;
  height: 7.81vw;
  border: 0px;
}
body .modal .checkboxes {
  display: flex;
  flex-wrap: wrap;
}
body .modal .checkboxes div {
  margin-top: 1.54vw;
  /* для элемента input c type="checkbox" */
  /* для элемента label, связанного с .custom-checkbox */
  /* создание в label псевдоэлемента before со следующими стилями */
  /* стили для чекбокса, находящегося в состоянии checked */
  /* стили для чекбокса, находящегося в состоянии disabled */
}
body .modal .checkboxes div .custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
body .modal .checkboxes div .custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
body .modal .checkboxes div .custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 1.3vw;
  height: 1.3vw;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid white;
  border-radius: 0.1em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
body .modal .checkboxes div .custom-checkbox:checked + label::before {
  background-color: white;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23ea531d' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
body .modal .checkboxes div .custom-checkbox:disabled + label::before {
  background-color: #e9ecef;
}
body .modal .btn-modal {
  display: flex;
  justify-content: space-between;
}
body .modal .btn-modal .btn-complaint {
  margin-top: 2.6vw;
  color: white;
  font-size: var(--main-text);
  width: 15.42vw;
  height: 3.65vw;
  background: none;
  border: 0.11vw solid white;
  transition: 0.2s ease;
}
body .modal .btn-modal .btn-complaint:hover {
  color: var(--background-color);
  background-color: antiquewhite;
}
@keyframes floating1 {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(15%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes floating2 {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0%);
  }
}
body .images img {
  position: absolute;
  width: 10.42vw;
  height: 10.42vw;
  animation-name: floating;
  animation-duration: 4.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
body .images :nth-child(1) {
  left: 10.94vw;
  top: 25.57vw;
  filter: blur(30px);
  animation-name: floating1;
  animation-delay: 0.5s;
}
body .images :nth-child(2) {
  left: 79.84vw;
  top: 10.47vw;
  width: 19.58vw;
  height: 19.53vw;
  filter: blur(30px);
  animation-name: floating2;
}
body .images :nth-child(3) {
  left: -2.81vw;
  top: 59.17vw;
  filter: blur(30px);
  animation-name: floating2;
}
body .images :nth-child(4) {
  left: 82.03vw;
  top: 72.03vw;
  width: 15.16vw;
  height: 15.16vw;
  filter: blur(30px);
  animation-name: floating1;
}
body .images :nth-child(5) {
  z-index: -1;
  left: 18.02vw;
  top: 91.51vw;
  width: 25.16vw;
  height: 25.16vw;
  animation-name: floating1;
  animation-delay: 1s;
}
body .images :nth-child(6) {
  left: 90.99vw;
  top: 110.89vw;
  animation-name: floating2;
  filter: blur(10px);
}
body .images :nth-child(7) {
  left: 3.44vw;
  top: 140vw;
  width: 7.33vw;
  height: 7.33vw;
  animation-name: floating1;
  filter: blur(30px);
}
body .images :nth-child(8) {
  animation-name: floating1;
  left: 76.25vw;
  top: 130vw;
  filter: blur(30px);
  animation-delay: 1s;
}

.spacer {
  flex-grow: 1;
}

@media screen and (max-width: 500px) {
  :root {
    --fonth1: 5.8vw;
    --fonth2: 4.4vw;
    --main-text: 4.8vw;
    --background-color: #191919;
    --primary-color: #ea531d;
    --text-color: white;
  }
  html body .wrapper {
    width: 95%;
    margin: 0 auto;
  }
  html body p {
    line-height: 1.5;
  }
  html body footer .wrapper {
    width: 100%;
    margin: 0 auto;
    background-size: 100% 120vw;
  }
  html body footer {
    background-size: 100% 220vw;
  }
  html body .footer {
    flex-direction: column;
  }
  html body .footer div {
    padding: 0 4vw;
    width: 95%;
    margin-bottom: 10vw;
  }
  html body .footer .column-area .btn-complaint {
    width: 100%;
    height: 10.65vw;
  }
  body .modal {
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important;
  }
  body .modal .form-group {
    height: 20vw;
    margin-top: 2.56vw;
  }
  body .modal .form-group input {
    height: 10.34vw;
  }
  body .modal .form-group textarea {
    height: 20.34vw;
  }
  body .modal .btn-modal .btn-complaint {
    width: 50%;
    height: 10.65vw;
  }
  body .modal .checkboxes div .custom-checkbox + label::before {
    width: 5.3vw;
    height: 5.3vw;
  }
  body .modal .checkboxes {
    margin-top: 8.56vw;
    margin-bottom: 8.56vw;
  }
  body .modal h3 {
    font-size: var(--fonth1);
    margin-bottom: 8.56vw;
  }
}

/*# sourceMappingURL=global.css.map */
