@charset "UTF-8";
body nav {
  margin-top: 5.21vw;
  margin-bottom: 13.02vw;
}
body nav ul li {
  font-size: var(--fonth2);
  margin-bottom: 0.83vw;
}
body nav ul .row-area:hover a {
  color: #ccc;
}
body nav ul .row-area:hover a:hover {
  color: white;
  box-shadow: 0 2px 0 0 currentcolor;
}
body nav > ul {
  display: flex;
  justify-content: space-between;
}
body nav > ul > div {
  width: 24.48vw;
}
body nav > ul > div:last-child li:first-child {
  margin-bottom: 5.21vw;
}
body nav .row {
  display: block;
  font-size: 2em;
  margin-bottom: 4.17vw;
}
body .tel-menu-area {
  display: flex;
  position: relative;
}
body .tel-menu-area .tel-menu {
  width: 46.88vw;
}
body .tel-menu-area .tel-menu div > p {
  text-align: justify;
  font-size: var(--fonth2);
  margin-bottom: 3.6vw;
}
body .tel-menu-area .tel-n-hotline {
  display: flex;
  justify-content: space-between;
}
body .tel-menu-area .tel-n-hotline .tel p {
  margin-bottom: 1.2vw;
}
body .tel-menu-area .hotline {
  font-size: var(--fonth2);
}
body .btn-tel {
  position: absolute;
  top: -6.56vw;
  right: -5.21vw;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28.7vw;
  height: 27.6vw;
  background-image: url(../../../static/img/home/hotline.png);
  background-size: 28.7vw 27.6vw;
}
body .btn-tel a p {
  text-align: center;
  margin-left: -3.7vw;
  display: flex;
  width: 3.65vw;
  line-height: 1.56vw;
}
body .main-news .news {
  width: 35.78vw;
  border-bottom: 1px solid #ffffff;
  padding: 1.6vw;
}
body .main-news .news .img-news img {
  width: 17.71vw;
  height: 17.71vw;
}
body .main-news .name-news {
  padding-top: 1.04vw;
}
body .main-news .news-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
body .main-news h2 {
  font-size: var(--fonth1);
  padding-top: 5.21vw;
}
body .main-news p {
  font-size: var(--fonth2);
  margin-top: 0.52vw;
}
body .main-news .text-news p {
  margin: 0;
}
body .main-news .news-subtext {
  font-size: var(--main-text);
  margin-bottom: 3.21vw;
}
body .main-news .news-wrapper {
  margin-left: auto;
  display: flex;
}
body .main-news .news-wrapper .btn-news {
  margin-left: auto;
  height: 2.6vw;
}
body .main-news .news-wrapper .btn-news p {
  transition: 0.05s ease;
  font-size: var(--main-text);
}
body .main-news .news-wrapper .btn-news:hover {
  color: #ccc;
}
body .main-news .all-news {
  display: flex;
  justify-content: center;
  padding: 2.08vw;
  border-bottom: 1px solid #ffffff;
  font-size: var(--fonth2);
  transition: 0.25s ease;
}
body .main-news .all-news:hover {
  color: #ccc;
}
body footer {
  margin-top: 20.83vw;
  background-image: url(../../../static/img/home/footer-back.png);
}
body .modal {
  display: none;
  z-index: 10;
  position: fixed;
  top: 50px;
  left: 570px;
  background: #ea531d;
  width: 33.85vw;
  height: 39.71vw;
  padding: 3.13vw;
}
body .modal form .form-subtext {
  font-size: 16px;
}
body .modal h3 {
  font-size: var(--fonth2);
}
body .modal .form-group {
  margin-top: 1.56vw;
  display: flex;
  flex-direction: column;
}
body .modal .form-group input {
  border: 0px;
  height: 2.34vw;
}
body .modal .form-group textarea {
  resize: none;
  height: 7.81vw;
  border: 0px;
}
body .modal .checkboxes {
  display: flex;
  flex-wrap: wrap;
}
body .modal .checkboxes div {
  margin-top: 1.54vw;
  /* для элемента input c type="checkbox" */
  /* для элемента label, связанного с .custom-checkbox */
  /* создание в label псевдоэлемента before со следующими стилями */
  /* стили для чекбокса, находящегося в состоянии checked */
  /* стили для чекбокса, находящегося в состоянии disabled */
}
body .modal .checkboxes div .custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
body .modal .checkboxes div .custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
body .modal .checkboxes div .custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 1.3vw;
  height: 1.3vw;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid white;
  border-radius: 0.1em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
body .modal .checkboxes div .custom-checkbox:checked + label::before {
  background-color: white;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23ea531d' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
body .modal .checkboxes div .custom-checkbox:disabled + label::before {
  background-color: #e9ecef;
}
body .modal .btn-modal {
  display: flex;
  justify-content: space-between;
}
body .modal .btn-modal .btn-complaint {
  margin-top: 2.6vw;
  color: white;
  font-size: var(--main-text);
  width: 15.42vw;
  height: 3.65vw;
  background: none;
  border: 0.11vw solid white;
  transition: 0.2s ease;
}
body .modal .btn-modal .btn-complaint:hover {
  color: var(--background-color);
  background-color: antiquewhite;
}

/*# sourceMappingURL=home.css.map */
